.ma {
  margin: auto;
}
.ma-5 {
  margin: 0.5rem;
}
.ma-10 {
  margin: 1rem;
}
.ma-15 {
  margin: 1.5rem;
}
.ma-20 {
  margin: 2rem;
}
.ma-25 {
  margin: 2.5rem;
}
.ma-30 {
  margin: 3rem;
}
.ma-35 {
  margin: 3.5rem;
}
.ma-40 {
  margin: 4rem;
}
.ma-45 {
  margin: 4.5rem;
}
.ma-50 {
  margin: 5rem;
}
.ma-55 {
  margin: 5.5rem;
}
.ma-60 {
  margin: 6rem;
}
.ma-65 {
  margin: 6.5rem;
}
.ma-70 {
  margin: 7rem;
}
.ma-75 {
  margin: 7.5rem;
}
.ma-80 {
  margin: 8rem;
}
.mx {
  margin-inline: auto;
}
.mx-5 {
  margin-inline: 0.5rem;
}
.mx-10 {
  margin-inline: 1rem;
}
.mx-15 {
  margin-inline: 1.5rem;
}
.mx-20 {
  margin-inline: 2rem;
}
.mx-25 {
  margin-inline: 2.5rem;
}
.mx-30 {
  margin-inline: 3rem;
}
.mx-35 {
  margin-inline: 3.5rem;
}
.mx-40 {
  margin-inline: 4rem;
}
.mx-45 {
  margin-inline: 4.5rem;
}
.mx-50 {
  margin-inline: 5rem;
}
.mx-55 {
  margin-inline: 5.5rem;
}
.mx-60 {
  margin-inline: 6rem;
}
.mx-65 {
  margin-inline: 6.5rem;
}
.mx-70 {
  margin-inline: 7rem;
}
.mx-75 {
  margin-inline: 7.5rem;
}
.mx-80 {
  margin-inline: 8rem;
}
.my {
  margin-block: auto;
}
.my-5 {
  margin-block: 0.5rem;
}
.my-10 {
  margin-block: 1rem;
}
.my-15 {
  margin-block: 1.5rem;
}
.my-20 {
  margin-block: 2rem;
}
.my-25 {
  margin-block: 2.5rem;
}
.my-30 {
  margin-block: 3rem;
}
.my-35 {
  margin-block: 3.5rem;
}
.my-40 {
  margin-block: 4rem;
}
.my-45 {
  margin-block: 4.5rem;
}
.my-50 {
  margin-block: 5rem;
}
.my-55 {
  margin-block: 5.5rem;
}
.my-60 {
  margin-block: 6rem;
}
.my-65 {
  margin-block: 6.5rem;
}
.my-70 {
  margin-block: 7rem;
}
.my-75 {
  margin-block: 7.5rem;
}
.my-80 {
  margin-block: 8rem;
}
.ml-5 {
  margin-left: 0.5rem;
}
.ml-10 {
  margin-left: 1rem;
}
.ml-15 {
  margin-left: 1.5rem;
}
.ml-20 {
  margin-left: 2rem;
}
.ml-25 {
  margin-left: 2.5rem;
}
.ml-30 {
  margin-left: 3rem;
}
.ml-35 {
  margin-left: 3.5rem;
}
.ml-40 {
  margin-left: 4rem;
}
.ml-45 {
  margin-left: 4.5rem;
}
.ml-50 {
  margin-left: 5rem;
}
.ml-55 {
  margin-left: 5.5rem;
}
.ml-60 {
  margin-left: 6rem;
}
.ml-65 {
  margin-left: 6.5rem;
}
.ml-70 {
  margin-left: 7rem;
}
.ml-75 {
  margin-left: 7.5rem;
}
.ml-80 {
  margin-left: 8rem;
}
.mr-5 {
  margin-right: 0.5rem;
}
.mr-10 {
  margin-right: 1rem;
}
.mr-15 {
  margin-right: 1.5rem;
}
.mr-20 {
  margin-right: 2rem;
}
.mr-25 {
  margin-right: 2.5rem;
}
.mr-30 {
  margin-right: 3rem;
}
.mr-35 {
  margin-right: 3.5rem;
}
.mr-40 {
  margin-right: 4rem;
}
.mr-45 {
  margin-right: 4.5rem;
}
.mr-50 {
  margin-right: 5rem;
}
.mr-55 {
  margin-right: 5.5rem;
}
.mr-60 {
  margin-right: 6rem;
}
.mr-65 {
  margin-right: 6.5rem;
}
.mr-70 {
  margin-right: 7rem;
}
.mr-75 {
  margin-right: 7.5rem;
}
.mr-80 {
  margin-right: 8rem;
}
.mt-5 {
  margin-top: 0.5rem;
}
.mt-10 {
  margin-top: 1rem;
}
.mt-15 {
  margin-top: 1.5rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mt-25 {
  margin-top: 2.5rem;
}
.mt-30 {
  margin-top: 3rem;
}
.mt-35 {
  margin-top: 3.5rem;
}
.mt-40 {
  margin-top: 4rem;
}
.mt-45 {
  margin-top: 4.5rem;
}
.mt-50 {
  margin-top: 5rem;
}
.mt-55 {
  margin-top: 5.5rem;
}
.mt-60 {
  margin-top: 6rem;
}
.mt-65 {
  margin-top: 6.5rem;
}
.mt-70 {
  margin-top: 7rem;
}
.mt-75 {
  margin-top: 7.5rem;
}
.mt-80 {
  margin-top: 8rem;
}
.mb-5 {
  margin-bottom: 0.5rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.mb-15 {
  margin-bottom: 1.5rem;
}
.mb-20 {
  margin-bottom: 2rem;
}
.mb-25 {
  margin-bottom: 2.5rem;
}
.mb-30 {
  margin-bottom: 3rem;
}
.mb-35 {
  margin-bottom: 3.5rem;
}
.mb-40 {
  margin-bottom: 4rem;
}
.mb-45 {
  margin-bottom: 4.5rem;
}
.mb-50 {
  margin-bottom: 5rem;
}
.mb-55 {
  margin-bottom: 5.5rem;
}
.mb-60 {
  margin-bottom: 6rem;
}
.mb-65 {
  margin-bottom: 6.5rem;
}
.mb-70 {
  margin-bottom: 7rem;
}
.mb-75 {
  margin-bottom: 7.5rem;
}
.mb-80 {
  margin-bottom: 8rem;
}

.pa {
  padding: auto;
}
.pa-5 {
  padding: 0.5rem;
}
.pa-10 {
  padding: 1rem;
}
.pa-15 {
  padding: 1.5rem;
}
.pa-20 {
  padding: 2rem;
}
.pa-25 {
  padding: 2.5rem;
}
.pa-30 {
  padding: 3rem;
}
.pa-35 {
  padding: 3.5rem;
}
.pa-40 {
  padding: 4rem;
}
.pa-45 {
  padding: 4.5rem;
}
.pa-50 {
  padding: 5rem;
}
.pa-55 {
  padding: 5.5rem;
}
.pa-60 {
  padding: 6rem;
}
.pa-65 {
  padding: 6.5rem;
}
.pa-70 {
  padding: 7rem;
}
.pa-75 {
  padding: 7.5rem;
}
.pa-80 {
  padding: 8rem;
}
.px {
  padding-inline: auto;
}
.px-5 {
  padding-inline: 0.5rem;
}
.px-10 {
  padding-inline: 1rem;
}
.px-15 {
  padding-inline: 1.5rem;
}
.px-20 {
  padding-inline: 2rem;
}
.px-25 {
  padding-inline: 2.5rem;
}
.px-30 {
  padding-inline: 3rem;
}
.px-35 {
  padding-inline: 3.5rem;
}
.px-40 {
  padding-inline: 4rem;
}
.px-45 {
  padding-inline: 4.5rem;
}
.px-50 {
  padding-inline: 5rem;
}
.px-55 {
  padding-inline: 5.5rem;
}
.px-60 {
  padding-inline: 6rem;
}
.px-65 {
  padding-inline: 6.5rem;
}
.px-70 {
  padding-inline: 7rem;
}
.px-75 {
  padding-inline: 7.5rem;
}
.px-80 {
  padding-inline: 8rem;
}
.py {
  padding-block: auto;
}
.py-5 {
  padding-block: 0.5rem;
}
.py-10 {
  padding-block: 1rem;
}
.py-15 {
  padding-block: 1.5rem;
}
.py-20 {
  padding-block: 2rem;
}
.py-25 {
  padding-block: 2.5rem;
}
.py-30 {
  padding-block: 3rem;
}
.py-35 {
  padding-block: 3.5rem;
}
.py-40 {
  padding-block: 4rem;
}
.py-45 {
  padding-block: 4.5rem;
}
.py-50 {
  padding-block: 5rem;
}
.py-55 {
  padding-block: 5.5rem;
}
.py-60 {
  padding-block: 6rem;
}
.py-65 {
  padding-block: 6.5rem;
}
.py-70 {
  padding-block: 7rem;
}
.py-75 {
  padding-block: 7.5rem;
}
.py-80 {
  padding-block: 8rem;
}
.pl-5 {
  padding-left: 0.5rem;
}
.pl-10 {
  padding-left: 1rem;
}
.pl-15 {
  padding-left: 1.5rem;
}
.pl-20 {
  padding-left: 2rem;
}
.pl-25 {
  padding-left: 2.5rem;
}
.pl-30 {
  padding-left: 3rem;
}
.pl-35 {
  padding-left: 3.5rem;
}
.pl-40 {
  padding-left: 4rem;
}
.pl-45 {
  padding-left: 4.5rem;
}
.pl-50 {
  padding-left: 5rem;
}
.pl-55 {
  padding-left: 5.5rem;
}
.pl-60 {
  padding-left: 6rem;
}
.pl-65 {
  padding-left: 6.5rem;
}
.pl-70 {
  padding-left: 7rem;
}
.pl-75 {
  padding-left: 7.5rem;
}
.pl-80 {
  padding-left: 8rem;
}
.pr-5 {
  padding-right: 0.5rem;
}
.pr-10 {
  padding-right: 1rem;
}
.pr-15 {
  padding-right: 1.5rem;
}
.pr-20 {
  padding-right: 2rem;
}
.pr-25 {
  padding-right: 2.5rem;
}
.pr-30 {
  padding-right: 3rem;
}
.pr-35 {
  padding-right: 3.5rem;
}
.pr-40 {
  padding-right: 4rem;
}
.pr-45 {
  padding-right: 4.5rem;
}
.pr-50 {
  padding-right: 5rem;
}
.pr-55 {
  padding-right: 5.5rem;
}
.pr-60 {
  padding-right: 6rem;
}
.pr-65 {
  padding-right: 6.5rem;
}
.pr-70 {
  padding-right: 7rem;
}
.pr-75 {
  padding-right: 7.5rem;
}
.pr-80 {
  padding-right: 8rem;
}
.pt-5 {
  padding-top: 0.5rem;
}
.pt-10 {
  padding-top: 1rem;
}
.pt-15 {
  padding-top: 1.5rem;
}
.pt-20 {
  padding-top: 2rem;
}
.pt-25 {
  padding-top: 2.5rem;
}
.pt-30 {
  padding-top: 3rem;
}
.pt-35 {
  padding-top: 3.5rem;
}
.pt-40 {
  padding-top: 4rem;
}
.pt-45 {
  padding-top: 4.5rem;
}
.pt-50 {
  padding-top: 5rem;
}
.pt-55 {
  padding-top: 5.5rem;
}
.pt-60 {
  padding-top: 6rem;
}
.pt-65 {
  padding-top: 6.5rem;
}
.pt-70 {
  padding-top: 7rem;
}
.pt-75 {
  padding-top: 7.5rem;
}
.pt-80 {
  padding-top: 8rem;
}
.pb-5 {
  padding-bottom: 0.5rem;
}
.pb-10 {
  padding-bottom: 1rem;
}
.pb-15 {
  padding-bottom: 1.5rem;
}
.pb-20 {
  padding-bottom: 2rem;
}
.pb-25 {
  padding-bottom: 2.5rem;
}
.pb-30 {
  padding-bottom: 3rem;
}
.pb-35 {
  padding-bottom: 3.5rem;
}
.pb-40 {
  padding-bottom: 4rem;
}
.pb-45 {
  padding-bottom: 4.5rem;
}
.pb-50 {
  padding-bottom: 5rem;
}
.pb-55 {
  padding-bottom: 5.5rem;
}
.pb-60 {
  padding-bottom: 6rem;
}
.pb-65 {
  padding-bottom: 6.5rem;
}
.pb-70 {
  padding-bottom: 7rem;
}
.pb-75 {
  padding-bottom: 7.5rem;
}
.pb-80 {
  padding-bottom: 8rem;
}